<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%=  repository %> </title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= repository %></p>
    
    <%- body %>
  </body>
</html>
